body{
    margin: 0;
    font-family: Roboto; 
  }

.wrapper{
    max-width: 960px;
    margin: 0 auto;
  }

 

  h1{
    margin: 40px auto;
    color: #ff0aa7;
    text-align: center;
  }

  ul{
    margin:0;
    width: auto;
    padding: 0;
    list-style-type: none;
    
  }

  li{
    position: relative;
    padding: 25px 12px 25px 12px;
    border: none;
    color: #333;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
  }

  ul li{
    background: #f9f9f9;
}

  .close {
    position: relative;
    float:center;
    right: 0;
    top: 0;
    padding: 5px 5px;
    
}

.check{
  position:relative;
  cursor: pointer;
  width:20px;
  border: 1px solid;
  float:justify;
  padding: 0px;
  }

.close:hover {
    background-color: #f44336;
    color: white;
}
  footer{
    background: #eee;
    padding: 60px;
    margin-top: 60px;
  }
  
   input{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 90%;
    padding: 10px;
    float: center;
    font-size: 16px;
  }
  .field{
    padding: 30px 40px;
    float: center;
  }
  .addBtn{
    color: white;
    border: 0;
    text-align: center;
    background: #ff0aa7;
    font-size: 16px;
    padding: 10px;
    width: 25%;
    border-radius: 4px;
    cursor: pointer;
  }

  .edit{
    background: #ff0aa7;
    cursor: pointer;

  }

  .check:checked{
    text-decoration: line-through;
  }

  .addBtn:hover{
      background-color: #bbb;
  }
  